# Configuration file

Custom {
    # Add ore names that will be turned into Mekanism gases (First letter must be capitalised). Example: Iron,Gold,Titanium
    S:gases=

    # Add prefixes separated by commas.
    # Textures will be aobd:prefix and aobd:prefix_overlay.
    # Example: dust,cluster
    S:items=
}


Recipes {
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:TConstruct=true
    B:Thaumcraft=false
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


